- title: this app
  ip: 127.0.0.1
  probes:
    - title: ping
      proto: icmp
      port: 0
    - title: http
      proto: tcp
      port: 8888
- title: google
  ip: 8.8.8.8
  probes:
    - title: ping
      proto: icmp
      port: 0
    - title: dns
      proto: tcp
      port: 53
    - title: "tcp/8888"
      proto: tcp
      port: 8888
- title: full dead
  ip: 149.156.65.100
  probes:
    - title: ping
      proto: icmp
      port: 0
    - title: tcp/10
      proto: tcp
      port: 10