@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin-ext');

html, body{
	font-family: 'Inconsolata', monospace;
	background: #222;
	color: #d22;
	font-size: 28px;
}


#banner{
	width: 100%;
	text-align: center;
}
h1 {
	margin: 0px;
}
h1 img{
	height: 0.7em;
}
.hostRow{
	border: 1px solid black;
	margin-top: -1px;
}
.hostTitle, .hostProbes {
	display: inline-block;
	padding-right: 10px;
}
.hostTitle{
	width: 200px;
	text-align: right;
	font-weight: bold;
}
.hostCheck {
	display: inline-block;
	width: 125px;
	text-align: center;
	padding: 5px;
	margin: -1px;
	border: 2px solid yellow;
	color: 			  yellow;
}
.hostCheck.dead{
	border: 2px solid red;
	animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    background-color: transparent;
    color: red;
  }
  50% {
    background-color: red;
    color: black;
  }
  100% {
    background-color: transparent;
    color: red;
  }
}
.hostCheck.alive{
	color: green;
	border: 2px solid green;
	background: none;
}@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin-ext');

html, body{
	font-family: 'Inconsolata', monospace;
	background: #222;
	color: #d22;
	font-size: 28px;
}

#thermal{
	width: 500px;height: 150px;
	position: absolute;
	right: 10px; top: 10px;
	color: gold;
	font-size: 110px;
	text-align: right;
}

#banner{
	width: 100%;
	text-align: center;
}
h1 {
	margin: 0px;
}
h1 img{
	height: 0.7em;
}
.hostRow{
	border: 1px solid black;
	margin-top: -1px;
}
.hostTitle, .hostProbes {
	display: inline-block;
	padding-right: 10px;
}
.hostTitle{
	width: 200px;
	text-align: right;
	font-weight: bold;
}
.hostCheck {
	display: inline-block;
	width: 125px;
	text-align: center;
	padding: 5px;
	margin: -1px;
	border: 2px solid yellow;
	color: 			  yellow;
}
.hostCheck.dead{
	border: 2px solid red;
	animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    background-color: transparent;
    color: red;
  }
  50% {
    background-color: red;
    color: black;
  }
  100% {
    background-color: transparent;
    color: red;
  }
}
.hostCheck.alive{
	color: green;
	border: 2px solid green;
	background: none;
}

